#sidebar {
	width: $sidebar-width;
	@include media(max-width $large){
		width: $sidebar-width - 20px;
	}
	position: fixed;
	left: 0;
	height: auto;
	min-height: 100%;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: $primary-color;
	overflow: hidden;
	@extend .z-depth-1-half;
	@include media(max-width $medium){
		display: none;
	}
	a {
		color: $primary-dark-color;
		:hover {
			i#icon-circle {
				color: $light-color;
			}
			i#icon-content {
				color: $primary-color;
			}
		}
	}
}
#sidebar-content {
	margin-top: 35%;
	text-align: center;
	h1 {
		font-size: $h4-font-size;
		margin: 0;
		padding: 0;
		color: $light-color;
		line-height: 1.1;
		font-weight: 400;
	}
	p {
		color: $secondary-light-color;
		margin: 0;
		padding: 0;
		font-weight: 300;
	}
}
.wrapper {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	@include clearfix;
}
#page-content {
	@include media(min-width $medium-up){
		padding-left: $sidebar-width;
	}
}

.social-link {
	margin: 0;
	margin-top: 10px;
	padding: 0;
	list-style-type: none;
	li {
		display: inline-block;
		margin-right: 5px;
	}
}

.img-circle {
	border-radius: 50%;
}

.img-medium {
	width: $img-medium-size * 3.75;
	height: $img-medium-size * 3.75;
	margin: 8px;
}

#home {
	margin-top: 15%;
	margin-bottom: 15%;
	@include media(max-width $large){
		margin-top: 20%;
		margin-bottom: 20%;
	}
}
.flow-text{
  font-weight: 300;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    @media only screen and (min-width : 0 + ($i * $interval-size)) {
      line-height: .8rem * (1 + (.13 * $i));
    }
    $i: $i + 1;
  }
}
.email {
	color: $accent-color;
	font-size: $h3-font-size;
	font-weight: 100;
	text-align: center;
}
.grey-bg {
	background-color: rgba(238, 238, 238, 1);
}
.post {
	margin-top: 5%;
	margin-bottom: 5%;
}
.post-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		margin-bottom: 8px;
		padding: 16px;
		background-color: $light-color;
		@extend .z-depth-1;
		h2 {
			margin: 0;
			a {
				font-size: $h3-font-size;
				font-weight: 300;
				color: $primary-color;
			}
		}
	}
}

.post-meta {
	color: $secondary-text-color;
}
/* #home {
	padding-top: 5%;
	@include media(1024px) {
		@include span-columns(5);
		@include shift(3.5);

	}
	@include media(min-width 800px max-width 1024px) {
		@include span-columns(6);
		@include shift(3);

	}
	@include media(min-width 480px max-width 800px) {
		@include span-columns(8);
		@include shift(2);

	}
}
.email {
	color: $secondary-color;
	font-size: 1.2*$base-font-size;
	margin: 0;
}
.site-header {
	background-color: $primary-color;
	padding-top: 20px;
	padding-bottom: 20px;
	a {
		color: $white-color;
	}
	.site-title {
		color: $white-color;
		font-size: 1.5em;
		font-weight: 700;
		float: left;
	}
	.site-nav {
		float: right;
		height: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		font-weight: 600;
		a {
			margin-right: 10px;
		}
	}
}

.center {
	text-align: center;
}

.page-content, .home {
	.post-header {
		margin-top: 10px;
		text-align: center;
		.post-title {
			margin: 0;
		}
	}
	img {
		max-width: 80%;
		margin: auto;
	}
}

.home {
	padding-top: 30px;
}

button, .button {
	padding: 0.2em 0.5em;
	background-color: $primary-color;
	border-radius: 5px;
	color: $white-color;
	&:hover {
		background-color: $primary-color-dark;
		text-decoration: none;
	}
}

.post-meta {
	margin: 0;
	color: $text-color-light;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.post-list {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		padding-top: 0.5em;
		padding-bottom: 1em;
	}
	h2 {
		margin: 0;
		a {
			color: $text-color;
			margin: 0;
		}
	}
	.post-summary {
		color: $text-color;
	}
}

.left {
	float: left;
}
.right {
	float: right;
}

.pagination {
	width: 100%;
	.next, .previous {
		border: 1px solid rgba($text-color-light, 0.8);
		padding: 0.5em;
		border-radius: 5px;
		text-decoration: none;
	}
	@include clearfix;
}

.site-footer {
	margin-top: 30px;
	text-align: center;
	border-top: 1px solid rgba($text-color-light, 0.5);
	padding: 15px;
	.text {
		margin: 0;
		color: rgba($text-color, 0.8);
	}
}

// stylis ordering list
.circle {
	counter-reset: olcircle;
	max-width: none;
	list-style: none;
	padding:0;
	margin-bottom: 1.71428571rem;
	li {
		counter-increment: olcircle;
		margin-left: 46px;
		margin-left: 3.28571429rem;
		margin-bottom: 2rem;
		&:before {
			float: left;
			border-radius: 50%;
			content: counter(olcircle);
			font-size: 13px;
			font-size: 0.92857143rem;
			height: 28px;
			height: 2rem;
			line-height: 28px;
			line-height: 2rem;
			margin: -3px 10px 1px -40px;
			margin: -0.21428571rem 0.71428571rem 0.07142857rem -2.85714286rem;
			padding-top: 1px;
			padding-top: 0.07142857rem;
			width: 28px;
			width: 2rem;
			background-color: #828282;
			color: #fff;
			text-align: center;
		}
	}
}

.img-circle {
	border-radius: 50%;
}

.img-medium {
	width: 192px;
	height: 192px;
}
.social-link {
	margin: 0;
	margin-top: 10px;
	padding: 0;
	list-style-type: none;
	li {
		display: inline-block;
		margin-right: 10px;
	}
}
 */
