<!DOCTYPE html>
<html>

{% include head.html %}

  <body>

    <div id="sidebar">
      <div class="wrapper" id="sidebar-content">
        <img src="{{ site.owner.avatar }}" class="img-circle img-medium" alt="">
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        <ul class="social-link">
          {% for social in site.owner.social_media %}
  					<li>
              <a class="page-link" href="{{ social.url }}" title="{{ social.name }}">
                <span class="fa-stack fa-lg">
                  <i id="icon-circle" class="fa fa-circle fa-stack-2x"></i>
                  <i id="icon-content" class="fa fa-{{ social.name }} fa-stack-1x fa-inverse"></i>
                </span>
              </a>
  					</li>
  				{% endfor %}
        </ul>
      </div>
    </div>
    <div id="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </body>

</html>
